In [3]:
import numpy as np
arr = np.load('./datasets/PEMS03/PEMS03.npz')
arr = arr['data'][:,:,0]
arr.shape

(26208, 358)

In [4]:
import pandas as pd
df = pd.DataFrame(arr)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,348,349,350,351,352,353,354,355,356,357
0,20.0,20.0,182.0,182.0,91.0,182.0,136.0,91.0,91.0,136.0,...,158.0,63.0,63.0,63.0,125.0,114.0,63.0,63.0,115.0,63.0
1,22.0,22.0,174.0,174.0,87.0,174.0,131.0,87.0,87.0,131.0,...,158.0,62.0,62.0,62.0,144.0,109.0,62.0,63.0,109.0,62.0
2,22.0,22.0,183.0,183.0,92.0,183.0,139.0,92.0,92.0,139.0,...,160.0,57.0,57.0,57.0,131.0,116.0,57.0,57.0,115.0,57.0
3,50.0,49.0,137.0,139.0,60.0,158.0,111.0,57.0,55.0,99.0,...,174.0,109.0,30.0,58.0,106.0,102.0,52.0,111.0,88.0,48.0
4,37.0,35.0,128.0,123.0,54.0,131.0,111.0,46.0,52.0,78.0,...,162.0,77.0,31.0,55.0,109.0,127.0,49.0,109.0,76.0,47.0

In [5]:
import pandas as pd
arr = pd.read_csv('./datasets/metr-la/adj.npz')
arr.shape

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x88 in position 2: invalid start byte

In [6]:
import pandas as pd
adj = pd.read_csv('./datasets/PEMS03/PEMS03.csv')
adj

       from      to  distance
0    317842  318711     0.872
1    318721  315955     1.322
2    315927  318236     1.222
3    318711  318721     0.233
4    318236  317843     1.220
..      ...     ...       ...
542  314548  318135     0.586
543  314548  318736     0.586
544  318126  318052     5.382
545  318135  318383     2.183
546  318736  318383     2.183

[547 rows x 3 columns]